<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Image with Text and Image Buttons</title>
<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<div class="container">
  <div class="image-with-text">
    <img src="./img/sashimi01.jpg" alt="Image">
    <div class="text">好きなカテゴリーを選んでください</div>
  </div>
  
  <div class="image-grid">
    <div class="image-button">
      <a href="https://yahiro.sakura.ne.jp/yamamoto/"><img src="../img/ikesu.jpg" alt="Image 1"></a>
      <a href="https://yahiro.sakura.ne.jp/yamamoto/" class="button">いけす</a>
    </div>
    <div class="image-button">
      <a href=""><img src="../img/niku.jpg" alt="Image 2"></a>
      <a href="https://tabelog.com/kumamoto/A4305/A430501/43007757/dtlrvwlst/B52999696/" class="button">焼肉</a>
    </div>
    <div class="image-button">
      <a href="url3"><img src="../img/nitaro.webp" alt="Image 3"></a>
      <a href="https://www.t-island.jp/spot/2771" class="button">ラーメン</a>
    </div>
    <div class="image-button">
      <a href="url4"><img src="../img/pasuta.jpg" alt="Image 4"></a>
      <a href="https://tabelog.com/kumamoto/A4305/A430501/43007309/" class="button">パスタ</a>
    </div>
    <div class="image-button">
      <a href="url5"><img src="../img/tantan.webp" alt="Image 5"></a>
      <a href="https://tabelog.com/kumamoto/A4305/A430501/43013080/" class="button">担々麵</a>
    </div>
    <div class="image-button">
      <a href="url6"><img src="../img/ebi.jpg" alt="Image 6"></a>
      <a href="https://www.ebi-miyagawa.com/" class="button">海老</a>
    </div>
  </div>
</div>

</body>
</html>