<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='/css/reset.css')}}">
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='/css/style.css')}}"> -->
    <link rel="stylesheet" href="../static/css/style.css">
    <title>天草食い倒れプロジェクト</title>
</head>
<body>
    <header class="header">
        <h1 class="app-title"><a href="/">天草食い倒れプロジェクト</a></h1>
    </header>
     
    <article>
        <section id="sec1">
            <h1>天草食い倒れプロジェクト</h1>
        </section>
    </article>

    <div class="cta_btn03" onclick="moveToAnotherPage()">
        <span class="cta_btn03-copy">ようこそ天草へ</span>
        ENTER
    </div>

    <script>
        function moveToAnotherPage() {
            // ボタンがクリックされたら別のページに移動する
            window.location.href = "別のページのURL";
        }
    </script>
</body>
</html>

       
    
     
     

<!-- 画像のコードはCSSの#sec1のところにあります -->

    <!--h1>ようこそ天草へ</h1>

    <button id="goTo_web">ENTER</button>

    <script>
        document.getElementById("goTo_web").onclick = function () {
            // ここでwebHTMLファイルへのパスを指定します
            window.location.href = 'web.html';
        };
    </script>
    

</body>
</html><title>Document</title>
</head>
<body>


    
    
</body>
</html>